@import "colors.less";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  background-color: @background-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .app-header {
    color: @text-color;
    display: flex;
    justify-content: center;
    padding: 17px;
    font-size: 28px;
    width: 269px;
    align-self: center;
    border: 1px dotted @redish-color;

    .header-logo {
      color: @redish-color;
      align-self: center;
      margin-right: 10px;
    }
  }

  .notes {
    display: flex;
    flex-wrap: wrap;

    .hidden-note {
      opacity: 0;
    }

    .one-note {
      background-color: @note-color;
      color: @text-color;
      border-radius: 12;
      margin: 10px;
      padding: 10px;
      border-radius: 19px;
      border: 1px solid rgba(178, 178, 178, 0.15);
      max-height: 200px;
      width: 241px;
      min-height: 154px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .icons-container {
        display: flex;
        justify-content: end;

        .icon {
          width: 17px;
          color: @text-color;
          font-size: 19px;
          z-index: 1;

          &:hover {
            color: @pale-color;
          }
        }
        .delete-icon {
          color: @redish-color;
          &:hover {
            color: @redish-color;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .add-note {
    padding: 10px 0 10px 15px;

    .big-add {
      color: @redish-color;
      font-size: 33px;
    }

    .add-note-title {
      color: @text-color;
      font-size: 20px;
      font-weight: bold;
      padding-left: 10px;
    }
  }

  .pop-up-parent {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4;
  }

  .pop-up-back {
    height: 100vh;
    width: 100vw;
    background-color: @background-color;
    opacity: 0.5;
  }
}
