@import "colors.less";


.note {  
    background-color: @note-color;
    color: @text-color;


    .title {
        font-weight: bold;
        font-size: 16px;
    }

    .date {
        color: @pale-color;
        font-size: 13px;
        padding-bottom: 8px;;
    }

    .text {
        padding-bottom: 10px;
    }

}
