@import "colors.less";

.pop-up {
  background-color: @note-color;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 463px;
  height: 384px;
  overflow: auto;
  border: 1px solid rgba(178, 178, 178, 0.15);
  top: 29%;
  left: 37%;
  padding: 20px;
  border-radius: 10px;

  input {
    color: @text-color;
    background-color: @note-color;
    outline: none;
    margin-bottom: 10px;
    border: none;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;

    &::placeholder {
      color: @text-color;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px @note-color inset !important;
      -webkit-text-fill-color: @text-color !important;
    }
  }

  textarea {
    color: @text-color;
    background-color: @note-color;
    outline: none;
    resize: none;
    max-width: 447px;
    max-height: 350px;
    border: none;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 2;

    &::placeholder {
      color: @text-color;
    }
  }

  .icons-parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 8px;

    .edit-button {
      background-color: @text-color;
      color: @background-color;
      font-size: 15px;
      padding: 4px;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      float: right;
      margin-right: 7px;
      margin-top: 21px;

      &:hover {
        background-color: @pale-color;
      }
    }

    .cancel-button {
      color: @text-color;
      background-color: @redish-color;

      &:hover {
        background-color: @redish-color;
        opacity: 0.5;
      }
    }

    .edit-icon {
      margin: 2px;
      color: #90ee90;
      cursor: pointer;
      margin-right: 15px;

      &:hover {
        color: #90ee90;
        opacity: 0.5;
      }
    }
  }

  .cancel-icon {
    margin: 2px;
    color: @redish-color;
    cursor: pointer;

    &:hover {
      color: @redish-color;
      opacity: 0.5;
    }
  }
}
